<div class="flex items-center justify-between p-4">
  <div class="flex items-center gap-4">
    <div>
      <ion-icon name="arrow-back-outline" class="w-5 h-5 p-2 pl-0"></ion-icon>
    </div>
    <div>
      <ion-label class="block">Select Contact</ion-label>
      <ion-label class="text-sm text-gray-600 block">254 contacts</ion-label>
    </div>
  </div>
  <div>
    <div class="flex items-center gap-4 text-black">
      <ion-icon name="search" class="w-5 h-5 p-2"></ion-icon>
      <ion-icon name="ellipsis-vertical" class="w-5 h-5 p-2 pr-0"></ion-icon>
    </div>
  </div>
</div>
